/* write your override styles here */
#wall .tag-1 {
  display:none;
}
#wall div#tag-2 {
  display:none;
}
div#wall div#tag-3.slick {
  display: none;
}
.parent div#tag-4 {
  display: none;
}
#tag-5 {
  display: none;
}
#tag-6 {
  display: none;
}
#tag-7 {
  display: none;
}

    <div class="parent">
      <div id="tag-4"></div>
    </div>
    <div class="parent">
      <div id="tag-5" class="slick"></div>
    </div>